<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <appSettings>
    <add key="pdfEditor" value="C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe"/>
    <add key="pdfPatientFile" value="E:\temp\ReportePaciente2.pdf"/>
    </appSettings> 
</configuration>